# Nippon Telegraph and Telephone HOTEL

In [1]:
#Importando librerias para la carga y manipulación de csv
import pandas as pd
import os

## Cargando el archivo CSV

In [2]:
# Leer el archivo CSV
nombre_archivo = 'hotel_bookings.csv'

try:
  hotel_data = pd.read_csv(nombre_archivo, delimiter=",")
  #si es correcto imprimimos el dataframe
except FileNotFoundError:
  print("No existe el archivo '" + nombre_archivo + "'")
except pd.errors.ParserError:
  print("Verifica el formato csv del archivo'" + nombre_archivo + "'")
finally:
  print("============================================")
  print("Fin de la lectura del archivo"+nombre_archivo)
  print(" - Numero de columnas : "+str(len(hotel_data.columns)))
  print(" - Numero de registros : "+str(len(hotel_data)))
  print("============================================")

============================================
Fin de la lectura del archivohotel_bookings.csv
 - Numero de columnas : 31
 - Numero de registros : 119390
============================================

In [3]:
hotel_data.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/07/15

## Transformaciones de datos

#### Verificando los tipos de datos del df

In [4]:
# Verificación de los tipos de datos que está leyendo pandas
hotel_data.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

#### Eliminando duplicados

In [5]:
# Visualización de duplicados
if hotel_data.duplicated().any():
    print("============================================")
    print("Numero de filas en el df original: "+str(len(hotel_data)))
    print("Exiten '"+str(len(hotel_data[hotel_data.duplicated()]))+"' filas duplicadas")
    hotel_data_unique = hotel_data.drop_duplicates() #Eliminacion de duplicados
    print("Quedan '"+ str(len(hotel_data_unique))+"' filas unicas")
    print("============================================")
else:
    print("No hay duplicados en el DataFrame.")

============================================
Numero de filas en el df original: 119390
Exiten '31999' filas duplicadas
Quedan '87391' filas unicas
============================================

#### Cambiando el tipo a fecha

In [6]:
# Cambiando la columna de fecha a tipo fecha
pd.to_datetime(hotel_data_unique['reservation_status_date'], format='%d/%m/%y')

# Visualizamos
hotel_data_unique

C:\Users\allig\AppData\Local\Temp/ipykernel_9888/726045861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_data_unique['reservation_status_date'] = pd.to_datetime(hotel_data_unique['reservation_status_date'], format='%d/%m/%y')
C:\Users\allig\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015/07/01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015/07/01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015/07/02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015/07/02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015/07/03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017/09/06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017/09/07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017/09/07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017/09/07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017/09/07

## Obtención de columnas a eliminar

In [7]:
#convertir las columnas a lista
todas_columnas_df = hotel_data_unique.columns.tolist()
#seleccionar columnas en numeros de la lista
columnas_a_eliminar = [2, 7, 8, 9, 10, 11, 12, 13,14, 15, 16, 17,18,19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# filtra los índices que están dentro del rango de la lista
columnas_a_eliminar_nombres = [todas_columnas_df[i] 
                               for i in columnas_a_eliminar 
                               if i < len(todas_columnas_df)
                              ]

# elimina las columnas
try:
    df = hotel_data_unique.drop(columns=columnas_a_eliminar_nombres)
except KeyError as e:
    print(f"Error: {e}")
df

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,reservation_status_date
0,Resort Hotel,0,2015,July,27,1,2015/07/01
1,Resort Hotel,0,2015,July,27,1,2015/07/01
2,Resort Hotel,0,2015,July,27,1,2015/07/02
3,Resort Hotel,0,2015,July,27,1,2015/07/02
4,Resort Hotel,0,2015,July,27,1,2015/07/03
...,...,...,...,...,...,...,...
119385,City Hotel,0,2017,August,35,30,2017/09/06
119386,City Hotel,0,2017,August,35,31,2017/09/07
119387,City Hotel,0,2017,August,35,31,2017/09/07
119388,City Hotel,0,2017,August,35,31,2017/09/07
119389,City Hotel,0,2017,August,35,29,2017/09/07

In [8]:
#Verificar si hay valores faltantes en las columnas seleccionadas como importantes
try:
    valores_faltantes = df.isnull()
    suma_valores_faltantes = valores_faltantes.sum()
    if suma_valores_faltantes.any():
        print("Hay valores nulos:")
        print("============================")
        print(suma_valores_faltantes)
    else:
        print("No hay valores nulos.")
        print("============================")
        print(suma_valores_faltantes)
except KeyError as e:
    print(f"Error: {e} -revisar DataFrame.")
except Exception as e:
    print(f"Error inesperado: {e}")

No hay valores nulos.
============================
hotel                        0
is_canceled                  0
arrival_date_year            0
arrival_date_month           0
arrival_date_week_number     0
arrival_date_day_of_month    0
reservation_status_date      0
dtype: int64

In [9]:
#Verificar si hay valores ceros en las columnas seleccionadas como importantes
try:
    valores_ceros = (df == 0).any()
    if valores_ceros.any():
        print("Hay ceros en las columnas")
        print("============================")
        print(valores_ceros)
    else:
        print("No hay ceros en las columnas.")
        print("============================")
        print(valores_ceros)
except KeyError as e:
    print(f"Error: {e} - revisar DataFrame.")
except Exception as e:
    print(f"Error inesperado: {e}")
    
#Vemos que hay ceros en 'is_canceled' pero no hacemos caso ya que 0 si es un valor en la columna.

Hay ceros en las columnas
============================
hotel                        False
is_canceled                   True
arrival_date_year            False
arrival_date_month           False
arrival_date_week_number     False
arrival_date_day_of_month    False
reservation_status_date      False
dtype: bool

## Cargando DataFrame en la base de datos postgresql

In [10]:
#librerias necesarias para usar base de datos postgresql
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [11]:
!pip install psycopg2#Instalacion necesaria para utilizar postgres

Requirement already satisfied: psycopg2 in c:\users\allig\anaconda3\lib\site-packages (2.9.9)

In [12]:
import psycopg2 #Importamos pyscopg2

#### Iniciamos conexion y creamos la bd

In [15]:
# Parametros
host = 'localhost'
user = 'postgres'
password = '123456'
database_name = 'hotel_bd' 

try:
    connection = psycopg2.connect(
        host=host,
        user=user,
        password=password,
        database='postgres'
    )

    # se crea el cursos para la conexion
    cursor = connection.cursor()
    connection.autocommit = True

    # ejecutamos una consulta para crear la bd
    cursor.execute(f"CREATE DATABASE {database_name}")

    print(f"La base de datos '{database_name}' ha sido creada correctamente.")#mensajito

except psycopg2.Error as e:
    print("Error al crear la base de datos:", e)

La base de datos 'hotel_bd' ha sido creada correctamente.

In [211]:
#cursor = connection.cursor()

#cursor.execute(f"DROP DATABASE hotel_bd") #Utlizamos sentencias para borrar base de datos desde python

#connection.commit()

InterfaceError: connection already closed

#### Creamos la tabla hotel

In [16]:
sql_create_table = """
CREATE TABLE hotel (
    hotel VARCHAR,
    is_canceled INTEGER,
    arrival_date_year INTEGER,
    arrival_date_month VARCHAR,
    arrival_date_week_number INTEGER,
    arrival_date_day_of_month INTEGER,
    reservation_status_date DATE
);
"""
cursor.execute(sql_create_table)
connection.commit()
print("La tabla 'hotel' ha sido creada correctamente.")

DuplicateTable: la relación «hotel» ya existe

#### Verificamos que exista la base de datos que creamos y la tabla

In [17]:
cursor.execute("SELECT datname FROM pg_database;")
databases = cursor.fetchall()
print("bases de datos:")
print("========================")
for db in databases:
    print(db[0])

bases de datos:
========================
postgres
template1
template0
bdempleado
bdbiblioteca
bd_ejemplo
bdgimnasio
bdmascotas
hotel_bd

In [18]:
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
tables = cursor.fetchall()
print("\nTablas en la bd:")
print("======================")
for table in tables:
    print(table[0])

Tablas en la bd:
======================
hotel

#### Insertamos el DataFrame en la base de datos. en la tabla creada

In [19]:
from sqlalchemy import create_engine
import pandas as pd
table_name = 'hotel'
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}/{database_name}')
df.to_sql(table_name, con=engine, index=False, if_exists='replace')

engine.dispose()

print(f"Datos insertados en la tabla '{table_name}' correctamente.")

Datos insertados en la tabla 'hotel' correctamente.

#### Visualizamos los datos ingresados en la base de datos  utilizando pandas
 * Consultas para probar  que los datos se hayan cargado correctamente en la bd

In [20]:
sql_query = "SELECT * FROM hotel"#Seleccionamos la tabla hotel.

# Cargamos los datos del df a la tabla creada
df_en_bd = pd.read_sql(sql_query, engine)
# Visualizamos el df desde la bd creada
df_en_bd

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,reservation_status_date
0,Resort Hotel,0,2015,July,27,1,2015/07/01
1,Resort Hotel,0,2015,July,27,1,2015/07/01
2,Resort Hotel,0,2015,July,27,1,2015/07/02
3,Resort Hotel,0,2015,July,27,1,2015/07/02
4,Resort Hotel,0,2015,July,27,1,2015/07/03
...,...,...,...,...,...,...,...
87386,City Hotel,0,2017,August,35,30,2017/09/06
87387,City Hotel,0,2017,August,35,31,2017/09/07
87388,City Hotel,0,2017,August,35,31,2017/09/07
87389,City Hotel,0,2017,August,35,31,2017/09/07
87390,City Hotel,0,2017,August,35,29,2017/09/07

In [24]:
#Cuantos hoteles diferentes hay
sql_query2 = """SELECT COUNT(DISTINCT hotel) AS hoteles_distintos FROM hotel;"""
df_en_bd2 = pd.read_sql(sql_query2, engine)
df_en_bd2

   hoteles_distintos
0                  2

#### Cerramos conexion con la base de datos

In [212]:
# cierra el cursor y la conexión
cursor.close()
connection.close()

## Consultas SQL  utilizando python  - FALTA  HACER

In [6]:
# 1st query = Cancelaciones por año                 Requiere [ "is_canceled" , "reservation_status_date" ]
# 2nd query = Temporada con más cancelaciones       Requiere [ "is_canceled" , "reservation_status_date" ]

# Obtención de columnas requeridas para querys posteriores
cleaned_hotel_data = hotel_data_unique[['is_canceled','reservation_status_date']]
cleaned_hotel_data

        is_canceled reservation_status_date
0                 0                 1/07/15
1                 0                 1/07/15
2                 0                 2/07/15
3                 0                 2/07/15
4                 0                 3/07/15
...             ...                     ...
119385            0                 6/09/17
119386            0                 7/09/17
119387            0                 7/09/17
119388            0                 7/09/17
119389            0                 7/09/17

[87391 rows x 2 columns]

In [7]:
# Verificación de los tipos de datos sin conversión de fecha
print(cleaned_hotel_data.dtypes)

# Casteo de la columna 'reservation_status_date' a tipo fecha de pandas
cleaned_hotel_data['reservation_status_date'] = pd.to_datetime(cleaned_hotel_data['reservation_status_date'], format="%d/%m/%y")

# Verificación de los tipos de datos con fecha convertida
print(cleaned_hotel_data.dtypes)
cleaned_hotel_data

is_canceled                 int64
reservation_status_date    object
dtype: object
is_canceled                         int64
reservation_status_date    datetime64[ns]
dtype: object

C:\Users\josch\AppData\Local\Temp\ipykernel_11508\1130517216.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_hotel_data['reservation_status_date'] = pd.to_datetime(cleaned_hotel_data['reservation_status_date'], format="%d/%m/%y")

        is_canceled reservation_status_date
0                 0              2015-07-01
1                 0              2015-07-01
2                 0              2015-07-02
3                 0              2015-07-02
4                 0              2015-07-03
...             ...                     ...
119385            0              2017-09-06
119386            0              2017-09-07
119387            0              2017-09-07
119388            0              2017-09-07
119389            0              2017-09-07

[87391 rows x 2 columns]

In [8]:
# Creación de una copia del dataframe original
df = cleaned_hotel_data

# Extraer año: crar una nueva columna 'year' extrayendo el año de la columna 'reservation_status_date' usando dt.year.
df['year'] = df['reservation_status_date'].dt.year

# Agrupar por año y estado: usar groupby() para agrupar los datos por año y estado, 
# luego usar size() para calcular el recuento de cada grupo. 
# unstack() se utiliza para pivotar la tabla para una mejor visibilidad.

# Completar NaN y mostrar el resultado: usar fillna(0) para completar cualquier valor de NaN con 0,
# astype(int) para convertir los valores a números enteros 
cancelations_per_year = df.groupby(['year', 'is_canceled']).size().unstack().fillna(0).astype(int)

# cancelations_per_year['total_cancelations']: esta parte agrega una nueva columna llamada 'total_cancelations' 
# al DataFrame cancelations_per_year. Esta columna almacenará el número total de cancelaciones de cada año.

# cancelations_per_year[1]: Esta parte intenta acceder a una columna con la etiqueta '1'. 
# "1" representa el estado "cancelado".

# if 1 in cancelations_per_year.columns: esta condición verifica si la columna etiquetada como '1' 
# está presente en las columnas del DataFrame. Si es así, significa que hubo cancelaciones durante el año.
# else 0: Si la condición es falsa (es decir, no hay cancelaciones para ese año), se asigna el valor 0 a 'total_cancelations'.
cancelations_per_year['total_cancelations'] = cancelations_per_year[1] if 1 in cancelations_per_year.columns else 0

# Resultado
print(cancelations_per_year[['total_cancelations']])

is_canceled  total_cancelations
year
2014                         12
2015                       3226
2016                      12779
2017                       8003

C:\Users\josch\AppData\Local\Temp\ipykernel_11508\4152181608.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['reservation_status_date'].dt.year

In [9]:
# Creación de una copia del dataframe 
df2 = cleaned_hotel_data

df2['year'] = df2['reservation_status_date'].dt.year
df2['month'] = df2['reservation_status_date'].dt.month

# Agrupar por año y mes y calcular la suma de cancelaciones
cancelations_per_month = df2.groupby(['year', 'month', 'is_canceled']).size().unstack().fillna(0).astype(int)
cancelations_per_month['total_cancelations'] = cancelations_per_month[1] if 1 in cancelations_per_month.columns else 0

# Resultado
print(cancelations_per_month[['total_cancelations']])

is_canceled  total_cancelations
year month
2014 10                      11
     11                       1
2015 1                       76
     2                       25
     3                       39
     4                       89
     5                      161
     6                      329
     7                      443
     8                      402
     9                      437
     10                     478
     11                     341
     12                     406
2016 1                      950
     2                     1144
     3                     1309
     4                     1127
     5                     1004
     6                      983
     7                     1036
     8                     1036
     9                     1062
     10                    1097
     11                    1009
     12                    1022
2017 1                     1472
     2                     1392
     3                     1304
     4                     1122
     5                     1145
     6                      684
     7                      618
     8                      266
     9                        0

C:\Users\josch\AppData\Local\Temp\ipykernel_11508\3938557866.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['year'] = df2['reservation_status_date'].dt.year
C:\Users\josch\AppData\Local\Temp\ipykernel_11508\3938557866.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['month'] = df2['reservation_status_date'].dt.month